# CS-150-01 Fall 2021 Programming Assignment 5 - Working With Dictionaries

## *Gracie Bayer 11/09/21*

### a. Language Translator

In [3]:
Translator={'dog':'perro','cat':'gato','hello':'Hola','goodbye':'adiós','table':'mesa','chair':'silla','work':'trabaja','school':'colegio','workout':'ejercicio','day':'día','night':'noche','breakfast':'desayuno','lunch':'comida','dinner':'cena','spring':'primavera','summer':'verano','fall':'otoño','winter':'invierno','girl':'muchacha','boy':'chico'}
word=input("Give an English word one-twenty for a Spanish translation (Enter 0 to stop): ")
while True:
    if word=='0':
        break
    else:
        print(Translator[word])
        word=input("Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )")

Give an English word one-twenty for a Spanish translation (Enter 0 to stop): dog
perro
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )cat
gato
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )hello
Hola
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )goodbye
adiós
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )table
mesa
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )chair
silla
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )work
trabaja
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )school
colegio
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )workout
ejercicio
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )day
día
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )night
noche
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )breakfast
desayuno
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )lunch
comida
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )dinner
cena
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )spring
primavera
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )summer
verano
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )fall
otoño
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )winter
invierno
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )girl
muchacha
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )boy
chico
Give an English word one-twenty for a Spanish translation (Enter 0 to stop: )0

### b. Temperature Converter

In [4]:
weather={1 : 85,
        2 : 83,
        3 : 84,
        4 : 84,
        5 : 94,
        6 : 87,
        7 : 76,
        8 : 85,
        9 : 83,
        10 : 84,
        11 : 84,
        12 : 82,
        13 : 87,
        14 : 86,
        15 : 85,
        16 : 81,
        17 : 82,
        18 : 84,
        19 : 87,
        20 : 89,
        21 : 89,
        22 : 84,
        23 : 85,
        24 : 89,
        25 : 89,
        26 : 86,
        27 : 78,
        28 : 78,
        29 : 71,
        30 : 71}
weather = {day : (5/9)*(temp-32) for (day,temp) in weather.items()}
print(weather)

{1: 29.444444444444446, 2: 28.333333333333336, 3: 28.88888888888889, 4: 28.88888888888889, 5: 34.44444444444444, 6: 30.555555555555557, 7: 24.444444444444446, 8: 29.444444444444446, 9: 28.333333333333336, 10: 28.88888888888889, 11: 28.88888888888889, 12: 27.77777777777778, 13: 30.555555555555557, 14: 30.0, 15: 29.444444444444446, 16: 27.222222222222225, 17: 27.77777777777778, 18: 28.88888888888889, 19: 30.555555555555557, 20: 31.666666666666668, 21: 31.666666666666668, 22: 28.88888888888889, 23: 29.444444444444446, 24: 31.666666666666668, 25: 31.666666666666668, 26: 30.0, 27: 25.555555555555557, 28: 25.555555555555557, 29: 21.666666666666668, 30: 21.666666666666668}

In [5]:
x=list(weather.items())
x.sort(key=lambda x: x[1])
print(x)
print(x[0])
print(x[-2])

[(29, 21.666666666666668), (30, 21.666666666666668), (7, 24.444444444444446), (27, 25.555555555555557), (28, 25.555555555555557), (16, 27.222222222222225), (12, 27.77777777777778), (17, 27.77777777777778), (2, 28.333333333333336), (9, 28.333333333333336), (3, 28.88888888888889), (4, 28.88888888888889), (10, 28.88888888888889), (11, 28.88888888888889), (18, 28.88888888888889), (22, 28.88888888888889), (1, 29.444444444444446), (8, 29.444444444444446), (15, 29.444444444444446), (23, 29.444444444444446), (14, 30.0), (26, 30.0), (6, 30.555555555555557), (13, 30.555555555555557), (19, 30.555555555555557), (20, 31.666666666666668), (21, 31.666666666666668), (24, 31.666666666666668), (25, 31.666666666666668), (5, 34.44444444444444)]
(29, 21.666666666666668)
(25, 31.666666666666668)

In [7]:
SepTemp={1:85,2:83,3:84,4:84,5:94,6:87,7:76,8:85,9:83,10:84,11:84,12:82,13:87,14:86,15:85,16:81,17:82,18:84,19:87,20:89,21:89,22:84,23:85,24:89,25:89,26:86,27:78,28:78,29:71,30:71}
x=list(SepTemp.values())
y=list(SepTemp.keys())
import numpy as np
farh=np.array(x)
cel=((farh-32)*5/9)
SepTemp=dict(zip(y,cel))
coolest=min(SepTemp.values())
for key in SepTemp:
    if SepTemp[key]==coolest:
        print("The coolest day was on September ", key)
max2=(list(sorted(SepTemp.values()))[-2])
for key in SepTemp:
    if SepTemp[key]==max2:
        print("The second hottest day was on September ", key)
SepTemp

The coolest day was on September  29
The coolest day was on September  30
The second hottest day was on September  20
The second hottest day was on September  21
The second hottest day was on September  24
The second hottest day was on September  25

{1: 29.444444444444443,
 2: 28.333333333333332,
 3: 28.88888888888889,
 4: 28.88888888888889,
 5: 34.44444444444444,
 6: 30.555555555555557,
 7: 24.444444444444443,
 8: 29.444444444444443,
 9: 28.333333333333332,
 10: 28.88888888888889,
 11: 28.88888888888889,
 12: 27.77777777777778,
 13: 30.555555555555557,
 14: 30.0,
 15: 29.444444444444443,
 16: 27.22222222222222,
 17: 27.77777777777778,
 18: 28.88888888888889,
 19: 30.555555555555557,
 20: 31.666666666666668,
 21: 31.666666666666668,
 22: 28.88888888888889,
 23: 29.444444444444443,
 24: 31.666666666666668,
 25: 31.666666666666668,
 26: 30.0,
 27: 25.555555555555557,
 28: 25.555555555555557,
 29: 21.666666666666668,
 30: 21.666666666666668}

### c. Set Operations

In [25]:
SetA={0, 40, 10, 20, 30}
SetB={0, 35, 5, 40, 10, 45, 15, 20, 25, 30}

In [26]:
print(SetA)
print(SetB)

{0, 40, 10, 20, 30}
{0, 35, 5, 40, 10, 45, 15, 20, 25, 30}

#### 1. symmetric difference (^)
Displays elements that are in the left operand, but not the right operand.

In [15]:
SetA^SetB

{5, 15, 25, 35, 45}

#### 2. .isdisjoint()
Returns True if no items in set A are present in set B.

In [16]:
SetA.isdisjoint(SetB)

False

In [17]:
SetB.isdisjoint(SetA)

False

#### 3. intersection_update(&=)
Displays all elements that appear in both sets.

In [19]:
SetA&SetB

{0, 10, 20, 30, 40}

#### 4. symmetric_difference (^=)
This method returns a set that contains all items from both set, but not the items that are present in both sets.

In [21]:
SetA.symmetric_difference(SetB)

{0, 10, 20, 30, 40}

#### 5. remove()
Works the same as "discard" function, except "remove" will generate an error.

In [29]:
SetA.remove(40)

KeyError: 40

#### 6. discard()
Removes items in a set without generating an error.

In [27]:
SetA.discard(40)

In [28]:
SetA

{0, 10, 20, 30}

#### 7. pop()
Gets a random element and **removes** it from the set.

In [30]:
SetB.pop()

0

In [31]:
SetB.pop()

35